.card-item {
    cursor: grab;
    user-select: none;
}

.card-list {
    border: 1px black solid;
    min-height: 18pt;
}

.card-item .dragging {
    cursor: grabbing;
}

.column .header-row {
    display: flex;
    gap: 0.5em;
    flex-direction: row;
}

.card-content {
    display: flex;
    gap: 0.5em;
    flex-direction: row;
}


.inline-actions {
    align-self: center;
}
